* {
  margin: 0px;
  padding: 0px;
}
.phone { 
  color: #f4aa42;
}
.page-header {
  width: 78.3%;
  height: 100px;
}
.info-header {
  width:80%;
  float: right;
}
.info-customers {
  float: left;
  margin-right: 10px;
}
.menu-header {
  float: right;
  height: 30px;
}
.menu-header .menu-list {
  list-style-type: none;
}
.menu-header .item,.logo,.logo-header,.tour-location .info-tour,.footer-left,.footer-right .link,
.tabs .item {
  float: left;
}
.menu-header a {
  padding: 0px 15px;
  text-decoration: none;
}
.big-info {
  height: 150px;
}
.big-info .info {
  float: right;
}
.tour-location {
 height: 400px;
}
.tour-location .info-tour {
  margin-left:2px ; 
  margin-right: 12px;
}
.tour-item {
  width:32%;
  float: left;
}
.book-item {
  display: inline-block;
  width:25%;
}
.support {
  width:100%;
  height: 300px;
  padding: 15px 20px;
  clear: both;
  background-image:url("../image/support.png");
  background-repeat: no-repeat;
}
.title-support {
  color: white;
}
.book-support .book-item {
  width: 12%;
  height: 200px;
}
.fill-in {
  height: 100px;
  border: 1px solid black;
}
.tabs {
  float: right;
}
.group-aus {
    padding-left: 12px;
}
.group-aus .group-item {
    width:24.8%;
    display: inline-block;
}
.title-book {
  color: #e6e6e6;
}
.view-item {
  width:10%;
  background: orange;
}
.link a {
  text-decoration: none;
}
.link .infor {
  list-style-type: none;
}
.book-support {
  margin:0px auto;
  width:70%;
  height: 100px;
  background: rgba(0, 0, 0, 0.8);
}
.book-support .book-link {
  list-style-type: none;
}
 .book-link .item {
  float: left;
  margin: 5px;
}
 .customers {
  width:50px;
  height: 32px;
}
 form p {
  padding: 15px;
}
.page-footer {
  clear: both;
}
.page-footer {
  height: 300px;
}
.footer-left {
  padding: 30px 25px;
}
.footer-right {
  width: 70%;
  float: right;
}
.footer-right .link {
  margin: 32px;
}
 