.menu-header{

}
.menu-header .menu-item {
margin:0px;
padding: 0px;
list-style-type: none;
}
.menu-header .menu-item .item{
float: left;
}
.menu-header .menu-item .item a{
	text-decoration: none;
	display: block;
}