* 
{
    margin: 0px;
    padding: 0px;
}
.page-header 
{
  width: 78.3%;
  height: 100px;
}
.logo-header 
{
  float: left;
}
.info-header 
{
  width: 75%;
  float: right;
}
.info-customers{
  margin: 20px;
  float: left;
}
.info 
{
  float: left;
}
.menu-header
{
  width: 78.3%;
}
.menu-header .menu-list 
{
  list-style-type: none;
}
.menu-header .item 
{
  float: left;
}
.big-info 
{
  width:98%;
  height: 150px;

}
.big-info .info 
{
  float: right;
}
.menu-header .menu-list {
  list-style-type: none;
}
.menu-header .item {
  float: left;
}
.menu-header a {
  padding: 0px 15px;
  text-decoration: none;
}
.tour-location {
 height: 400px;

}
.tour-location .info-tour {
  float: left;
  margin-left:2px ; 
  margin-right: 12px;
}
.tour-item {
  width:32%;
  float: left;
  
}
.book-item {
  display: inline-block;
  width:25%;
}
.page-footer {
  clear: both;
}
.page-footer {
  height: 300px;

}
.footer-left {
  padding: 30px 25px;
  float: left;
}
.footer-right
{
  width: 70%;
  float: right;
}
.footer-right .link {
    float: left;
    margin: 32px;
}
.support {
  width:100%;
  clear: both;
  background-image:url("image/support.png");
  background-repeat: no-repeat;
}
.title-support {
  color: white;
}
.book-support .book-item {
  width: 12%;
  height: 200px;
}

.fill-in {

}
.group-aus {
    padding-left: 12px;
    margin: 0 -10px;}
.group-aus .group-item{
    width:24.8%;
    display: inline-block;
  
}
.view-item 
{
  width:10%;
  background: orange;
}
.link a {
  text-decoration: none;
}
.link .infor {
  list-style-type: none;
}

