$primary-color:#ffc966;
$secondary-color:#fff;
$primary-bg-color:#fff;
.menu-list .item a:hover{
	color:$primary-color;
}
.infor .item a:hover {
	color:$primary-color;
}
.banner-title{
	color:$secondary-color;
}