<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="../css/baitap.css">
  <title>Hada</title>
</head>
<body>
  <header class="page-header">
    <div class="container"> 
      <section class="logo-header">
        <img src="../image/sun.png" alt="sun">
      </section>
      <section class="info-header">
        <div class="big-info">
          <div class="info">
            <div class="info-customers">
              <section class="customers"><img src="../image/phone.jpg" alt="phone"></section>
              <h3 class="title">Customers service</h3>
              <p class="para-info"><span class="phone">1900 6068</span></p>
            </div>
            <div class="info-customers">
              <section class="customers"><img src="../image/person.png" alt="person"></section>
              <h3 class="title">Taking care of customers overtime</h3>
              <p class="para-info">Hotel:<span class="phone">0906636171</span>/ Tour:<span class="phone">0938238004</span></p> 
            </div>
          </div>
        </div>
        <nav class="menu-header">
          <ul class="menu-list">
            <li class="item"><a href="">Home</a></li>
            <li class="item"><a href="">About Hadatour</a></li>
            <li class="item"><a href="">Tour</a></li>
            <li class="item"><a href="">Hotel</a></li>
            <li class="item"><a href="">Rental Venhical</a></li>
            <li class="item"><a href="">Air Ticket</a></li>
            <li class="item"><a href="">News</a></li>
            <li class="item"><a href="">Contact</a></li>
          </ul>
        </nav>
      </section>
    </div>
  </header>
  <main class="page-content">
    <section class="section-destination">
      <div class="container"> 
        <section class="banner">         
          <img src="../image/logo.png" alt="logo">
        </section> 
           <!--tour-location-->
        <section class="tour-location">
          <h3 class="title">Interesting Destination</h3>
          <ul class="view-img">
            <li class="view-item"><a href="">View more &gt;</a></li>
          </ul>
          <div class="info-tour">
            <img src="../image/boat.jpg" alt="boat">
            <h3 class="title">Japan-China</h3>
            <p class="para-info">Price:<span class="price">5.350.000$</span></p>
          </div>
          <div class="info-tour">
            <img src="../image/house.png" alt="house">
            <h3 class="title">Thailand-Campuchia</h3>
            <p class="para-info">Price:<span class="price">5.350.000$</span></p>
          </div>
          <div class="info-tour">
            <img src="../image/nation.jpg" alt="nation">
            <h3 class="title">Korean</h3>
            <p class="para-info">Price:<span class="price">5.350.000$</span></p>
          </div>
          <div class="info-tour">
            <img src="../image/tree.jpg" alt="tree">
            <h3 class="title">Australia-Philippin</h3>
            <p class="para-info">Price:<span class="price">5.350.000$</span></p>
          </div> 
        </section>
        <section class="fill-in">
          <div class="logo">
            <img src="../image/sun.png" alt="sun">
          </div>
          <ul class="tabs">
            <li class="item">
              <input type="radio" name="tabs" id="tabs-1" checked>
              <label for="tabs-1">Search tour<p>let's choose a destination</p></label>
              <div class="tabs-form">
                <form>
                  <input type="text" name="locus" placeholder="location" size="70">
                  <input type="text" name="long" placeholder="lenght" size="20">
                  <input type="text" name="cost" placeholder="price" size="10">
                  <input type="submit" name="submit" value="Search">
                </form>
              </div>
            </li>
            <li class="item">
              <input type="radio" name="tabs" id="tabs-2">
              <label for="tabs-2">Search hotel<p>choose the hotel that fit you need</p></label>
            </li>
          </ul>   
        </section>      
      </div> 
    </section>
    <section class="section-tour">
      <div class="container"> 
        <section class="tour">
          <div class="tour-item">
            <!--overseas-->
            <div class="overseas">
              <h3 class="title">overseas tour</h3>
              <p class="para-tour">Lorem ipsum dolor sit amet, consecteur adipsicing elit,sed do eiusmod tempor incidiunt ut labore et dolore magna aliqua</p>
            </div> 
            <div class="info-tour">
              <!--Tour Lao-Thailand-->
              <div class="image">
                <img src="../image/mouse.jpg" alt="mouse">
              </div>  
              <div class="img-info">
                <h4 class="title-tour">Tour Lao-Thailand</h4>
                <p class="para-info"><span>2 day 3 night</span></p>
                <p class="para-info"><span>4.500.000$</span></p>
              </div>
                  <!--end-->
                  <!--Tour asian-->
              <div class="image"> 
                <img src="../image/city.jpg" alt="city">
              </div>
              <div class="img-info">
                <h4 class="title-tour">Tour asian</h4>
                <p class="para-info"><span>2 day 3 night</span></p>
                <p class="para-info"><span>4.500.000$</span></p>
              </div>
                <!--end-->
                      <!--Tour european-->
              <div class="image">
                <img src="../image/eiffel.jpg" alt="eiffel">
              </div>
              <div class="img-info">
                <h4 class="title-tour">Tour european</h4>
                <p class="para-info"><span>2 day 3 night</span></p>
                <p class="para-info"><span>4.500.000$</span></p>
              </div>
                <!--end-->
            </div>
          </div>       
            <!--tour-item-->
          <div class="tour-item">
            <div class="domestic">
              <h3 class="title">Domestic tour</h3>
              <p class="para-tour">Lorem ipsum dolor sit amet, consecteur adipsicing elit,sed do eiusmod tempor incidiunt ut labore et dolore magna aliqua</p>
            </div>
            <div class="image">
              <img src="../image/tourLao.jpg" alt="tourLao">
            </div>
            <div class="img-info">  
              <h4 class="title-tour">Tour Lao-Thailand</h4>
              <p class="para-info"><span>2 day 3 night</span></p>
              <p class="para-info"><span>4.500.000$</span></p>
            </div>
            <div class="image">
              <img src="../image/tourasia.jpg" alt="tourasia">
            </div>
            <div class="img-info">
              <h4 class="title-tour">Tour Asian</h4>
              <p class="para-info"><span>2 day 3 night</span></p>
              <p class="para-info"><span>4.500.000$</span></p>
            </div>
            <div class="image">  
              <img src="../image/thai.jpg" alt="thai">
            </div>
            <div class="img-info">  
              <h4 class="title-tuor">Tour Lao-Thailand</h4>
              <p class="para-info"><span>2 day 3 night</span></p>
              <p class="para-info"><span>4.500.000$</span></p>
            </div>
          </div>
        <!--tour-item-->
          <div class="tour-item">
            <div class="hotel">
              <h3 class="title">Hotels</h3>
              <p class="para-tour">Lorem ipsum dolor sit amet, consecteur adipsicing elit,sed do eiusmod tempor incidiunt ut labore et dolore magna aliqua</p>
            </div>
            <div class="image">
                <img src="../image/novo.png" alt="novo">
                <h4 class="title-tour">Hotel Novotel</h4>
                <img src="../image/hotel.png" alt="hotel">
                <h4 class="title-tour">Hotel Sea Phoenix</h4>
                <img src="../image/bed.png" alt="bed">
                <h4 class="title-tour">Tour Lao-Thailand</h4>
            </div>
          </div>
        </section>
        <div class="support">             <!--book-support-->       
            <h3 class="title-support">Support Online</h3>
            <div class="book-support">
              <div class="book-item">
                <h4 class="title-book">Book tour</h4>
                <ul class="book-link">
                  <li class="item"><a href=""><img src="../image/call.png" alt="call"></a></li>
                  <li class="item"><a href=""><img src="../image/send.png" alt="send"></a></li>
                </ul>
              </div>
              <div class="book-item">
                <h4 class="title-book">Book Hotel</h4>
                <ul class="book-link">
                  <li class="item"><a href=""><img src="../image/call.png" alt="call"></a></li>
                  <li class="item"><a href=""><img src="../image/send.png" alt="send"></a></li>
                </ul>
              </div>
              <div class="book-item">
                <h4 class="title-book">Book Vehicle</h4>
                <ul class="book-link">
                  <li class="item"><a href=""><img src="../image/call.png" alt="call"></a></li>
                  <li class="item"><a href=""><img src=".../image/send.png" alt="send"></a></li>
                </ul>
              </div>
              <div class="book-item">
                <h4 class="title-book">Book air ticket</h4>
                <ul class="book-link">
                  <li class="item"><a href=""><img src="../image/call.png" alt="call"></a></li>
                  <li class="item"><a href=""><img src="../image/send.png" alt="send"></a></li>
                </ul>
              </div>
            </div>
        </div>
    </section>
    <section class="section-activity">
      <div class="container">
        <section class="activity">
          <!--activity-->
          <h3 class="title">Activity Images</h3>
          <ul class="view-img">
            <li class="view-item"><a href="">View More &gt;</a></li>
          </ul>
        </section>
           <!--group-aus"-->
        <div class="group-aus">
          <div class="group-item">
            <img src="../image/tourAus.jpg" alt="TourAus">
            <h4 class="title-aus">Tour Australia-Group activity</h4>
            <p class="para-info"><span>3 days 2 nights</span></p>
            <p class="para-info"><span>25/08/2015</span></p>
          </div>
          <div class="group-item">
            <img src="../image/tourAus1.jpg" alt="TourAus1">
            <h4 class="title-aus">Tour Australia-Group activity</h4>
            <p class="para-info"><span>3 days 2 nights</span></p>
            <p class="para-info"><span>25/08/2015</span></p>
          </div>
          <div class="group-item">
            <img src="../image/tourAus3.jpg" alt="TourAus3">
            <h4 class="title-aus">Tour Australia-Group activity</h4>
            <p class="para-info"><span>3 days 2 nights</span></p>
            <p class="para-info"><span>25/08/2015</span></p>
          </div>
          <div class="group-item">
            <img src="../image/tourAus4.jpg" alt="TourAus4">
            <h4 class="title-aus">Tour Australia-Group activity</h4>
            <p class="para-info"><span>3 days 2 nights</span></p>
            <p class="para-info"><span>25/08/2015</span></p>
          </div>
        </div>  
      </div> 
    </section>     
  </main>
  <footer class="page-footer">
    <div class="container">
      <section class="footer-left">
        <img src="../image/sun.png" alt="sun">
      </section>
      <section class="footer-right">
        <!--info-->
        <nav class="link">
          <h3 class="title">Information</h3>
          <ul class="infor">
            <li class="item"><a href="">About Hadatour</a></li>
            <li class="item"><a href="">Contact Infomation</a></li>
            <li class="item"><a href="">Terms of membership</a></li>
            <li class="item"><a href="">Payment methods</a></li>
            <li class="item"><a href="">Recruitment</a></li>
          </ul>
        </nav>
         <!--social-->
        <nav class="link">
          <h3 class="title">Social</h3>
          <ul class="infor">
            <li class="item"><a href=""><img src="image/face.jpg" alt="face">Facebooks</a></li>
            <li class="item"><a href=""><img src="image/google+.png" alt="google">Google+</a></li>
            <li class="item"><a href=""><img src="image/twitter.png" alt="twitter">Twitter</a></li>
            <li class="item"><a href=""><img src="image/youtu.png" alt="youtu">Youtube</a></li>
          </ul>
        </nav>
        <div class="mail">
          <p class="para-mail">Enter Email to get news from Hadatour</p>
          <form>
            <input type="text" name="text" placeholder="please enter email here" size="60">
            <button type="submit"><img src="image/mail.png"></button>
          </form>
        </div>
      </section> 
    </div>  
  </footer>
</body>
</html>
