$primary-color:#
.mail-feedback{
  float: right;
  width:60%;
  margin:20px;
}
.page-footer {
  clear: both;
  height: 300px;
}
.footer-left {
  padding: 30px 25px;
}
.footer-right {
  width: 70%;
  float: right;
}
.footer-right .footer-link {
  margin: 32px;
}